<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Olsker Cupcakes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Thymeleaf vil erstatte th:href; den “plain” href virker ved ren statisk visning -->
    <link rel="stylesheet" href="/public/css/stylesheet.css" th:href="@{/css/stylesheet.css}"/>
</head>
<body>

<div th:replace="~{fragments :: headerFragment}"></div>

<main>
    <section class="index-body">

    </section>

</main>

<div th:replace="~{fragments :: footerFragment}"></div>

</body>
</html>
