<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Olsker Cupcakes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Thymeleaf vil erstatte th:href; den “plain” href virker ved ren statisk visning -->
    <link rel="stylesheet" href="/public/css/stylesheet.css" th:href="@{/css/stylesheet.css}"/>
</head>
<body>

<div th:replace="~{fragments :: headerFragment}"></div>

<main>

    <div class="basket-body">
        <div class="basket-title-box">
            <h1 th:if="${cart.shoppingCart.isEmpty()}">Din kurv er tom</h1>
            <h1 th:unless="${cart.shoppingCart.isEmpty()}">Din kurv</h1>
            <h2 th:if="${cart.shoppingCart.isEmpty()}">Skynd dig at bestille nogle af vores lækre Cupcakes</h2>
            <h2 th:unless="${cart.shoppingCart.isEmpty()}">Verificer din bestilling</h2>
        </div>
        <div class="basket-body-row">
            <form method="post" action="/basket/action" class="basket-cupcake-body">
                <div class="cupcake-card window-styling" th:each="o, iterStat : ${cart.shoppingCart}">
                    <div class="cupcake-box-basket">
                        <img class="bottom-img"
                             th:src="@{/images/cupcakes/bottoms/bottom_{slug}.png(slug=${o.cupcake.bottom.slug})}"
                             alt="bottom">
                        <img class="topping-img"
                             th:src="@{/images/cupcakes/toppings/topping_{slug}.png(slug=${o.cupcake.topping.slug})}"
                             alt="topping">
                    </div>
                    <div class="cupcake-card-info">
                        <div class="row">
                            <p>Bund:</p>
                            <p th:text="${o.cupcake.bottom.name}"></p>
                        </div>
                        <div class="row">
                            <p>Topping:</p>
                            <p th:text="${o.cupcake.topping.name}"></p>
                        </div>
                        <div class="rowQuantity">
                            <button type="submit" name="decreaseQuantity" th:value="${iterStat.index}">
                                <svg class="minus-icon" width="16" height="18" viewBox="0 0 16 18"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9H14V7H2V9Z" fill="currentColor"/>
                                </svg>
                            </button>
                            <p th:text="${o.quantity + ' stk.'}"></p>
                            <button type="submit" name="increaseQuantity" th:value="${iterStat.index}">
                                <svg class="plus-icon" width="16" height="18" viewBox="0 0 16 18"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 14H9V9H14V7H9V2H7V7H2V9H7V14Z" fill="currentColor"/>
                                </svg>
                            </button>
                        </div>
                        <div class="row">
                            <p>Pris:</p>
                            <p th:text="${o.cupcake.cupcakePrice * o.quantity + ' kr.'}"></p>
                        </div>
                        <button type="submit" name="index" th:value="${iterStat.index}">
                            <svg class="delete-icon" width="16" height="18" viewBox="0 0 16 18"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 18C2.45 18 1.97933 17.8043 1.588 17.413C1.19667 17.0217 1.00067 16.5507 1 16V3H0V1H5V0H11V1H16V3H15V16C15 16.55 14.8043 17.021 14.413 17.413C14.0217 17.805 13.5507 18.0007 13 18H3ZM13 3H3V16H13V3ZM5 14H7V5H5V14ZM9 14H11V5H9V14Z"
                                      fill="currentColor"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
                <div th:if="${!cart.shoppingCart.isEmpty()}" class="basket-checkout-card window-styling">
                    <div class="basket-checkout-details-card">
                        <h4>Din kurv består af:</h4>
                        <br>
                        <div class="basket-checkout-card-info" th:each="o, iterStat : ${cart.shoppingCart}">
                            <div class="row">
                                <p th:text="${o.quantity + 'stk. ' + o.cupcake.bottom.name + ' / ' + o.cupcake.topping.name}"></p>
                                <p th:text="${o.cupcake.cupcakePrice * o.quantity + ' kr.'}"></p>
                            </div>
                        </div>
                        <br>
                        <div class="row total-price-styling">
                            <h5>Total beløb:</h5>
                            <h5 class="underline" th:text="${basketTotalPrice + ' kr.'}"></h5>
                        </div>
                    </div>
                    <div class="basket-checkout-details-card-buttons">
                        <form method="post" action="/clearCart">
                            <button class="basket-clear-cart-button" type="submit" name="basketClearCart">Ryd kurv
                            </button>
                        </form>

                        <form method="get" th:action="@{/checkout/contact-info}">
                            <button class="basket-checkout-button" type="submit">Gå til kassen</button>
                        </form>
                    </div>
                </div>
        </div>
    </div>

</main>

<div th:replace="~{fragments :: footerFragment}"></div>

</body>
</html>
