<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Olsker Cupcakes - Purchase confirmed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Thymeleaf vil erstatte th:href; den “plain” href virker ved ren statisk visning -->
    <link rel="stylesheet" href="/public/css/stylesheet.css" th:href="@{/css/stylesheet.css}"/>
</head>
<body>

<div th:replace="~{fragments :: headerFragment}"></div>

<main>
    <div class="checkout-confirmed-body">
        <div class="order-complete">
            <h1>Vi har modtaget din ordre!</h1>
            <h2>Tak fordi du valgte Olsker Cupcakes</h2>
        </div>

        <div class="group-body-element">
            <div class="group-body-element">
                <h3>Ordredetaljer</h3>
                <p><strong>Ordrenummer:</strong> <span th:text="${session.completedOrder.orderId}"></span></p>
                <p><strong>Bestilt den:</strong> <span
                        th:text="${#temporals.format(session.completedOrder.orderDate, 'dd-MM-yyyy HH:mm')}"></span></p>
            </div>
            <div class="group-body-element">
                <h3 th:if="${session.deliveryMethod == 'pickup'}">Afhentning</h3>
                <h3 th:if="${session.deliveryMethod == 'delivery'}">Levering</h3>

                <p th:if="${session.deliveryMethod == 'pickup'}">
                    <strong>Afhent i butikken: </strong>
                    <span th:text="${#temporals.format(session.completedOrder.pickUpDate, 'dd-MM-yyyy HH:mm')}"></span>
                </p>
                <p th:if="${session.deliveryMethod == 'delivery'}">
                    Leveres med Olsker Express
                    <span th:text="${#temporals.format(session.completedOrder.pickUpDate, 'dd-MM-yyyy HH:mm')}"></span>
                </p>
            </div>
            <div class="group-body-element">
                <h3>Total</h3>
                <p><strong>Samlet pris:</strong> <span th:text="${session.completedOrder.getFormattedPrice()}"></span> kr.</p>
            </div>
            <div class="back-home">
                <a th:href="@{/}" class="checkout-button">Tilbage til forsiden</a>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments :: footerFragment}"></div>
</body>
</html>
