<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Kontakt information - Olsker Cupcakes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/public/css/stylesheet.css" th:href="@{/css/stylesheet.css}"/>
</head>
<body>

<div th:replace="~{fragments :: headerFragment}"></div>

<main>
    <div class="checkout-wrapper">
        <h1>Checkout</h1>
        <div class="step-info">
            <h2>Kontaktinformation</h2>
            <p class="checkout-step">Trin 2 af 3</p>
        </div>
        <div class="checkout-container">
            <section>

                <div class="delivery-info">
                    <h3 class="group-title">Levering</h3>
                    <div class="group-body">
                        <div class="group-body-element">
                            <p><strong>Leveringsmetode:</strong>
                                <span th:if="${session.deliveryMethod == 'pickup'}">Afhent i butik (0 kr.)</span>
                                <span th:if="${session.deliveryMethod == 'delivery'}">Hjemmelevering med Olsker Express (29 kr.)</span>
                            </p>

                            <p><strong>Dato:</strong>
                                <span th:text="${#temporals.format(session.pickUp, 'dd-MM-yyyy')}"></span>
                            </p>

                            <p><strong>Tidspunkt:</strong>
                                <span th:text="${#temporals.format(session.pickUp, 'HH:mm')}"></span>
                            </p>
                        </div>
                        <div class="edit-group">
                            <a class="edit-checkout" th:href="@{/checkout/delivery}">Ret</a>
                        </div>
                    </div>
                </div>

                <div class="customer-info">
                    <h3 class="group-title">Indtast kontaktinformation</h3>
                    <div class="customer-info-group">
                    <form th:action="@{/checkout/contact-info}" method="post">
                        <div class="input-group">
                            <label>Fornavn</label>
                            <input type="text" name="firstName"
                                   th:value="${currentUser != null} ? ${currentUser.firstName} : ''" required>
                        </div>

                        <div class="input-group">
                            <label>Efternavn</label>
                            <input type="text" name="lastName"
                                   th:value="${currentUser != null} ? ${currentUser.lastName} : ''" required>
                        </div>

                        <div class="input-group">
                            <label for="phoneNumber">Telefonnummer</label>
                            <input type="text" id="phoneNumber" name="phoneNumber"
                                   th:value="${currentUser != null} ? ${currentUser.phoneNumber} : ''" required>
                        </div>

                        <div class="input-group">
                            <label>Email</label>
                            <input type="email" name="email"
                                   th:value="${currentUser != null} ? ${currentUser.email} : ''" required>
                        </div>

                        <div th:if="${deliveryMethod == 'delivery'}">
                            <h3>Leveringsadresse</h3>

                            <div class="input-group">
                                <label>Adresse</label>
                                <input type="text" name="street"
                                       th:value="${currentUser != null} ? ${currentUser.street} : ''" required>
                            </div>

                            <div class="input-group">
                                <label>By</label>
                                <input type="text" name="city"
                                       th:value="${currentUser != null} ? ${currentUser.city} : ''" required>
                            </div>

                            <div class="input-group">
                                <label>Postnummer</label>
                                <input type="text" name="zipCode"
                                       th:value="${currentUser != null} ? ${currentUser.zipCode} : ''" required>
                            </div>
                        </div>

                     </div>

                        <div class="button-group">
                            <a th:href="@{/checkout/delivery}" class="checkout-button">Tilbage</a>
                            <button class="checkout-button" type="submit">Fortsæt til betaling</button>
                        </div>

                        <p id="error-message" class="error"
                           th:if="${errorMessage != null}"
                           th:text="${errorMessage}">
                        </p>
                    </form>
                </div>
            </section>

            <aside class="checkout-summary">
                <h3>Din bestilling</h3>
                <div th:replace="fragments :: orderLinePostCard"></div>
                <div class="summary-total">
                    <p><strong>Subtotal:</strong> <span th:text="${session.cart.getTotalOrderPrice()}"></span> kr.</p>
                    <p>Levering: <span th:text="${session.deliveryPrice}"></span> kr.</p>
                    <hr>
                    <p class="total-price">
                        <strong>Total:</strong>
                        <span th:text="${session.orderTotal}"></span> kr.
                    </p>
                </div>
            </aside>
        </div>
    </div>
</main>

<div th:replace="~{fragments :: footerFragment}"></div>

</body>
</html>