
<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Kontakt information - Olsker Cupcakes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Thymeleaf vil erstatte th:href; den “plain” href virker ved ren statisk visning -->
    <link rel="stylesheet" href="/public/css/stylesheet.css" th:href="@{/css/stylesheet.css}"/>
</head>
<body>

<div th:replace="~{fragments :: headerFragment}"></div>

<main>
    <section>
  <div class="delivery-info">
    <form th:action="@{/checkout/delivery/info}" method="post">
        <h2>Checkout</h2>

        <div class="create-group">
            <label>Fornavn</label>
            <input type="text" name="firstName" th:value="${currentUser != null} ? ${currentUser.firstName} : ''" required>
        </div>

        <div class="create-group">
            <label>Efternavn</label>
            <input type="text" name="lastName" th:value="${currentUser != null} ? ${currentUser.lastName} : ''" required>
        </div>

        <div class="create-group">
            <label>Adresse</label>
            <input type="text" name="street" th:value="${currentUser != null} ? ${currentUser.street} : ''" required>
        </div>

        <div class="create-group">
            <label>By</label>
            <input type="text" name="city" th:value="${currentUser != null} ? ${currentUser.city} : ''" required>
        </div>

        <div class="create-group">
            <label>Postnummer</label>
            <input type="text" name="zipCode" th:value="${currentUser != null} ? ${currentUser.zipCode} : ''" required>
        </div>

        <div class="create-group">
            <label for="phoneNumber">Indtast telefon nummer</label>
            <input type="text" id="phoneNumber" name="phoneNumber" th:value="${currentUser != null} ? ${currentUser.phoneNumber} : ''" required>
        </div>

        <div class="create-group">
            <label>Email</label>
            <input type="email" name="email" th:value="${currentUser != null} ? ${currentUser.email} : ''" required>
        </div>

        <button type="submit">Forsæt</button>
        <p id="error-message" class="error"
           th:if="${errorMessage != null}"
           th:text="${errorMessage}">
        </p>
    </form>
</div>
        <div class="delivery-options">

        </div>
    </section>

    <aside class="summary">
        <div th:each="orderLine : ${session.cart.getShoppingCart()}">
            <div class="summary-info">
                <img th:src="@{/images/bottom_almond.png}" alt="Cupcake image"/>
                <span th:text="${orderLine.cupcake.bottom.name}"></span> +
                <span th:text="${orderLine.cupcake.topping.name}"></span>
                <span>Antal: </span><span th:text="${orderLine.quantity}"></span>
                <span>Pris: </span><span th:text="${orderLine.orderLinePrice}"></span>
                <hr>
            </div>
        </div>

        <div class="summary-info">
            <p>Subtotal: <span th:text="${session.cart.getTotalOrderPrice()}"></span></p>
        </div>
        </aside>
</main>

</body>
</html>


