<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cupcake Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Thymeleaf vil erstatte th:href; den “plain” href virker ved ren statisk visning -->
    <link rel="stylesheet" href="/public/css/stylesheet.css" th:href="@{/css/stylesheet.css}"/>
</head>
<body>

<div th:replace="~{fragments :: headerFragment}"></div>

<main>
        <h1 th:unless="${session.currentUser.isAdmin}"> HOV! <br> Du har vist ikke adgang til den her side!</h1>
        <section th:if="${session.currentUser.isAdmin}" class="admin-cupcake-body">

            <div class="admin-cupcake">
                <h5>Opret ny bund</h5>
                <form method="post" th:action="@{/createBottom}">
                    <input type="text" name="bottomCreateFlavour" placeholder="Indtast smag" >
                    <input type="text" name="bottomCreatePrice" placeholder="Indtast pris" >
                    <button type="submit">Tilføj bund</button>
                </form>

                <h5>Opret ny topping</h5>
                <form method="post" th:action="@{/createTopping}">
                    <input type="text" name="toppingCreateFlavour" placeholder="Indtast smag">
                    <input type="text" name="toppingCreatePrice" placeholder="Indtast pris">
                    <button type="submit">Tilføj topping</button>
                </form>
            </div>

            <div class="admin-cupcake">
                <h5>Opdater bund</h5>
                <form method="post" th:action="@{/updateBottom}">
                    <div class="admin-cupcake-select">
                        <select id="bottomSelect" name="bottomId" required>
                            <option value="" disabled selected>Vælg Bund</option>
                            <option th:each="b : ${bottoms}"
                                    th:value="${b.bottomId}"
                                    th:text="${b.name}">
                            </option>
                        </select>
                    </div>
                    <input type="text" name="bottomUpdateFlavour" placeholder="indsæt nyt navn">
                    <input type="text" name="bottomUpdatePrice" placeholder="indsæt ny pris eg. 5.5">
                    <button type="submit">Opdater</button>
                    <p th:value="${cupcakeErrorMesssage}"></p>
                </form>

                <h5>Opdater topping</h5>
                <form method="post" th:action="@{/updateTopping}">
                    <div class="admin-cupcake-select">
                        <select id="toppingSelect" name="toppingId" required>
                            <option value="" disabled selected>Vælg Topping</option>
                            <option th:each="t : ${toppings}"
                                    th:value="${t.toppingId}"
                                    th:text="${t.name}">
                            </option>
                        </select>
                    </div>
                    <input type="text" name="toppingUpdateFlavour" placeholder="Indsæt nyt navn"
                           th:value="${newToppingFlavour}">
                    <input type="text" name="toppingUpdatePrice" placeholder="Indsæt ny pris eg. 5.5"
                           th:value="${newToppingPrice}">
                    <button type="submit">Opdater</button>
                </form>
            </div>

            <div class="admin-cupcake">
                <h5>Slet bund</h5>
                <form method="post" th:action="@{/deleteBottom}">
                    <div class="admin-cupcake-select">
                        <select id="bottomSelectDelete" name="bottomId" required>
                            <option value="" disabled selected>Vælg Bund</option>
                            <option th:each="b : ${bottoms}"
                                    th:value="${b.bottomId}"
                                    th:text="${b.name}">
                            </option>
                        </select>
                    </div>
                    <button type="submit">Slet bund</button>
                    <p th:value="${cupcakeErrorMesssage}"></p>
                </form>

                <h5>Slet topping</h5>
                <form method="post" th:action="@{/deleteTopping}">
                    <div class="admin-cupcake-select">
                        <select id="toppingSelectDelete" name="toppingId" required>
                            <option value="" disabled selected>Vælg Topping</option>
                            <option th:each="t : ${toppings}"
                                    th:value="${t.toppingId}"
                                    th:text="${t.name}">
                            </option>
                        </select>
                    </div>
                    <button type="submit">Slet topping</button>
                </form>
            </div>

        </section>
</main>

<div th:replace="~{fragments :: footerFragment}"></div>

</body>
</html>
