<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8"/>
    <title>Olsker Cupcakes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Thymeleaf vil erstatte th:href; den “plain” href virker ved ren statisk visning -->
    <link rel="stylesheet" href="/public/css/stylesheet.css" th:href="@{/css/stylesheet.css}"/>
</head>
<body>

<header>
    <h1>This is a header</h1>
</header>

<main>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>

</main>

<footer>
    <h3>this is a footer</h3>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
    <h2>this is a main</h2>
</footer>

</body>
</html>