<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login - Olsker Cupcakes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Thymeleaf vil erstatte th:href; den “plain” href virker ved ren statisk visning -->
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
</head>
<body>

<div th:replace="~{fragments :: headerFragment}"></div>

<main>
    <div class="login-container">
        <h1>Log ind eller opret en konto</h1>

        <form th:action="@{/login}" method="post" class="login-form">
            <div class="login-field">
                <label for="email">Email</label>
                <input class="login-input" type="text" placeholder="din@email.dk" id="email" name="email">
            </div>

            <div class="login-field">
                <label for="password">Kodeord</label>
                <input class="login-input" type="password" placeholder="⁕⁕⁕⁕⁕⁕⁕⁕" id="password" name="password">
            </div>

            <button type="submit">Log in</button>
        </form>

        <div th:if="${errorMessage != null}" class="error-succes-label">
            <p id="error-message" class="error"
               th:if="${errorMessage != null}"
               th:text="${errorMessage}">
            </p>
        </div>

        <div th:if="${session.succesMessage}" class="error-succes-label">
            <p class="success" th:if="${session.succesMessage}" th:text="${session.succesMessage}"></p>
        </div>

        <div class="createaccount-link">
            <label for="createuser">Ingen Konto?</label>
            <a th:href="@{/create-user}" id="createuser">Opret en her!</a>
        </div>
    </div>
</main>


<div th:replace="~{fragments :: footerFragment}"></div>


</body>
</html>
